.title{
    font-family: 'Patua One', cursive;
}

.img-detail{
    height: 100px    
}

.card-item{
    transition:.6s
}

.card-item:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgb(0, 7, 106), 0 4px 8px rgba(4, 118, 78, 0.981);
}
