body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	overscroll-behavior: none;
	margin: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	display: block;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	text-decoration: none;
	text-align: center;
}

a,
button {
	cursor: pointer;
}

input {
	padding: 0;
}

span,
button,
input,
label,
li,
p,
h6,
h5,
h4,
h3,
h2,
h1 {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
}

p,
h6,
h5,
h4,
h3,
h2,
h1 {
	user-select: none;
}

pre,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
	margin: 0;
	padding: 0;
}

ul,
li {
	list-style: none;
}

button {
	background: transparent;
	border: 0;
	outline: 0;
}